{# category/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ category }}</h1>
    
    <h2>Articles</h2>
    {% for article in category.articles %}
        {{ article.title }}<br>
    {% else %}
        <p>Aucun article dans cette catégorie</p>
    {% endfor %}
{% endblock %}
