{# category/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ category }}</h1>
    
    <h2>Articles</h2>
    {% for article in category.articles %}
        <a href="{{ path('app_article_index', {id: article.id}) }}">{{ article.title }}</a><br>
    {% else %}
        <p>Aucun article dans cette catégorie</p>
    {% endfor %}
{% endblock %}
